body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1122px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:391px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:391px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:1118px;
  visibility:hidden;
  word-wrap:break-word;
}
