body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1215px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:942px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:942px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:463px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
