body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:1572px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:1572px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:778px;
  width:911px;
  visibility:hidden;
  word-wrap:break-word;
}
