body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:1428px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:151px;
  width:1312px;
  height:1428px;
  opacity:0.5;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:706px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:209px;
  width:320px;
  height:568px;
}
#u5527_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5527.mouseDown {
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:209px;
  width:320px;
  height:568px;
}
#u5529_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5529.mouseDown {
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:209px;
  width:320px;
  height:568px;
}
#u5531_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5531.mouseDown {
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:787px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:787px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:787px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:908px;
  width:320px;
  height:568px;
}
#u5539_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5539.mouseDown {
}
#u5540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1494px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:908px;
  width:320px;
  height:568px;
}
#u5543_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5543.mouseDown {
}
#u5544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1494px;
  width:49px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u5547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5547 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:908px;
  width:320px;
  height:568px;
}
#u5547_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
}
#u5547.mouseDown {
}
#u5548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5549 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:1491px;
  width:48px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:493px;
  width:0px;
  height:0px;
}
#u5551_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u5551_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5553 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:777px;
  width:0px;
  height:0px;
}
#u5553_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:135px;
}
#u5553_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:119px;
  width:18px;
  height:18px;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5555 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:54px;
  width:308px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:493px;
  width:0px;
  height:0px;
}
#u5557_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u5557_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:777px;
  width:0px;
  height:0px;
}
#u5559_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:135px;
}
#u5559_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:119px;
  width:18px;
  height:18px;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:777px;
  width:0px;
  height:0px;
}
#u5561_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:135px;
}
#u5561_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:119px;
  width:18px;
  height:18px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1192px;
  width:0px;
  height:0px;
}
#u5563_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u5563_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:1192px;
  width:0px;
  height:0px;
}
#u5565_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u5565_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:90px;
  width:727px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  word-wrap:break-word;
}
