body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9323_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:347px;
  height:718px;
}
#u9323 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:69px;
  width:344px;
  height:715px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#979797;
}
#u9324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9325 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:170px;
  width:321px;
  height:551px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9325_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  box-shadow:0px 7px 20px rgba(204, 204, 204, 1);
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9325.mouseDown {
}
#u9326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:27px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9328 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:142px;
  width:322px;
  height:27px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:18px;
}
#u9330 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:147px;
  width:310px;
  height:18px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9332 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:170px;
  width:322px;
  height:29px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u9334 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:177px;
  width:59px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u9335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:15px;
}
#u9336 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:177px;
  width:7px;
  height:15px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u9337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9339 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:678px;
  width:322px;
  height:42px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u9341 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:691px;
  width:35px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u9342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9343 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:691px;
  width:51px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9345 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:691px;
  width:35px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9347 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:691px;
  width:35px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:center;
}
#u9348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u9349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u9349 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:688px;
  width:24px;
  height:20px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9351 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:199px;
  width:322px;
  height:479px;
  text-align:center;
}
#u9352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:322px;
  word-wrap:break-word;
}
