body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2354.59008556319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5570_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:347px;
  height:718px;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:33px;
  width:344px;
  height:715px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:107px;
  width:320px;
  height:568px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:253px;
  width:109px;
  height:55px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u5576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:329px;
  width:154px;
  height:37px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u5578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:557px;
  width:193px;
  height:39px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:601px;
  width:193px;
  height:39px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:107px;
  width:28px;
  height:28px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5584_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:35px;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:522px;
  width:23px;
  height:25px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5586_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:41px;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:107px;
  width:24px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:108px;
  width:39px;
  height:19px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:72px;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:150px;
  width:262px;
  height:72px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u5592_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:37px;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:78px;
  width:23px;
  height:27px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:41px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:232px;
  width:24px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:232px;
  width:75px;
  height:25px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u5598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:85px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:277px;
  width:264px;
  height:85px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u5600_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:41px;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:118px;
  width:24px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5602_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:41px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:364px;
  width:24px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:365px;
  width:78px;
  height:19px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:72px;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:407px;
  width:262px;
  height:72px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:2351px;
  top:890px;
  width:0px;
  height:0px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5608_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-12px;
  width:18px;
  height:8px;
  -webkit-transform:rotate(79.3803447238449deg);
  -moz-transform:rotate(79.3803447238449deg);
  -ms-transform:rotate(79.3803447238449deg);
  transform:rotate(79.3803447238449deg);
}
#u5608_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5608_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-22px;
  width:18px;
  height:18px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:49px;
  width:115px;
  height:38px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:347px;
  height:718px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:33px;
  width:344px;
  height:715px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:107px;
  width:320px;
  height:568px;
  opacity:0.6;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:320px;
  width:154px;
  height:28px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u5619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:557px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:601px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:107px;
  width:28px;
  height:28px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5626_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:107px;
  height:70px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:244px;
  width:97px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:263px;
  width:59px;
  height:31px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5631_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:347px;
  height:718px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:33px;
  width:344px;
  height:715px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:107px;
  width:320px;
  height:568px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:557px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:601px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:107px;
  width:28px;
  height:28px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5642_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:347px;
  height:718px;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:1523px;
  top:33px;
  width:344px;
  height:715px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:107px;
  width:320px;
  height:568px;
  opacity:0.85;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:557px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:601px;
  width:193px;
  height:39px;
  opacity:0.8;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u5650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:107px;
  width:28px;
  height:28px;
  opacity:0.5;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:557px;
  width:193px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:601px;
  width:193px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
