body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:104px;
}
#u11285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:551px;
  width:246px;
  height:104px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u11286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:242px;
  word-wrap:break-word;
}
#u11287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u11287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:353px;
  width:225px;
  height:64px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u11288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u11289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11290_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:82px;
  height:99px;
}
#u11290 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:158px;
  width:72px;
  height:89px;
  font-size:28px;
}
#u11291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:68px;
  word-wrap:break-word;
}
#u11292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11293_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:107px;
  height:70px;
}
#u11293 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:273px;
  width:97px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u11295 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:292px;
  width:59px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u11296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11298_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:107px;
  height:70px;
}
#u11298 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:69px;
  width:97px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u11300 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:88px;
  width:59px;
  height:31px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u11301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11302 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:69px;
  width:320px;
  height:568px;
}
#u11303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11304 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:69px;
  width:320px;
  height:568px;
}
#u11305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:74px;
}
#u11306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:444px;
  width:126px;
  height:74px;
}
#u11307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
